---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Test from "../components/Test.svelte";
---

<Layout title="Welcome to Astro.">
  <main class="w-full h-full flex flex-row justify-center">
    <section
      class="min-h-full min-w-[50%] border border-black shadow-sm shadow-black inset-4"
    >
    </section>
    <section class="min-h-full min-w-[50%] border border-black"></section>
  </main>
</Layout>
