---
import WorkOrder from '@components/WorkOrder.astro';

import { QUERY_WORKORDERS_STRING } from "@lib/graphql/queries";

import WorkOrderForm from '../components/WorkOrderForm';

import type { WorkOrder as WorkOrderType } from "@lib/__generated__/graphql";

export const prerender = false;


const response = await fetch("http://localhost:5000/graphql", {
  method: "POST",
  headers: {
    "Content-Type": "application/json",
  },
  body: JSON.stringify({
    query: QUERY_WORKORDERS_STRING,
  }),
});

const data = await response.json();

const workOrders: WorkOrderType[] = data.data.queryWorkOrders;

console.log("data", data);
---
<div class="max-w-[50%]">

<table>
  <thead>
    <tr>
      <th>Work Orders</th>
    </tr>
  </thead>
  <tbody>
    {workOrders.map((workOrder: WorkOrderType) => (
      <WorkOrder workOrder={workOrder}/>
      <WorkOrderForm workOrder={workOrder} />
       ))}
  </tbody>
</table>
</div>
